{{#each this}}

    <div class='wrapper--flex'>

        <div class='description'>
            <h2 class='card-name'>{{name}} : {{nativeName}}</h2>
            <p>Capital: <span >{{capital}}</span></p>
            <p>Region: <span >{{region}}</span></p>
            <p>Subregion: <span >{{subregion}}</span></p>
            <p>Population: <span >{{population}}</span></p>
            <p>Timezones:
                {{#each timezones}}
                <span>{{this}}</span>
                {{/each}}
            </p>
            <p class='text'><b>Languages:</b></p>

            <ul>
                {{#each languages}}
                <li >{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div>
            <img src='{{flag}}' alt='{{name}}' width='500' height='300' />
        </div>
    </div>


{{/each}}